{% extends "base.html" %}


{% block body %}

            <div class="row clearfix one">
            <div class="col-md-12 column body">
                 <div class="blog_title"><a href="{{ url_for("blog.post") }}">h2 Bootstrap 标题 (2rem = 32px)</a></div>
                <div class="blog_add"><a href="#">作者：Wallace</a>&nbsp;&nbsp;2019-4-23</div>
                <p class="blog_body">Today I’d like to announce Homebrew 2.0.0. The most significant changes since 1.9.0 are official support for Linux and Windows 10 (with Windows Subsystem for Linux), brew cleanup running automatically, no more options in Homebrew/homebrew-core, and removal of support for OS X Mountain Lion (10.8) and older.</p>
            </div>
			</div>
            <div class="hr1"></div>
            <div class="hr2"></div>


			<div class="row clearfix one">
				<div class="col-md-12 column body">
                     <div class="blog_title"><a href="#">h2 Bootstrap 标题 (2rem = 32px)</a></div>
                    <div class="blog_add"><a href="#">作者：Wallace</a>&nbsp;&nbsp;2019-4-23</div>
                    <p class="blog_body">Today I’d like to announce Homebrew 2.0.0. The most significant changes since 1.9.0 are official support for Linux and Windows 10 (with Windows Subsystem for Linux), brew cleanup running automatically, no more options in Homebrew/homebrew-core, and removal of support for OS X Mountain Lion (10.8) and older.</p>
				</div>
			</div>
            <div class="hr1"></div>
            <div class="hr2"></div>


			<div class="row clearfix one">
				<div class="col-md-12 column body">
                     <div class="blog_title"><a href="#">h2 Bootstrap 标题 (2rem = 32px)</a></div>
                    <div class="blog_add"><a href="#">作者：Wallace</a>&nbsp;&nbsp;2019-4-23</div>
                    <p class="blog_body">Today I’d like to announce Homebrew 2.0.0. The most significant changes since 1.9.0 are official support for Linux and Windows 10 (with Windows Subsystem for Linux), brew cleanup running automatically, no more options in Homebrew/homebrew-core, and removal of support for OS X Mountain Lion (10.8) and older.</p>
				</div>
			</div>
            <div class="hr1"></div>
            <div class="hr2"></div>
{% endblock %}